name: Docker Image CI GeoApp

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Set tag
      run: echo "TAG_NAME=$(date +%s)" >> $GITHUB_ENV

    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
      
    - name: Build the Docker image
      run: |
        cd 01_DB
        docker build . --file Dockerfile.single --tag geo-db:$TAG_NAME
        
    - name: Push Docker image to Docker.Hub
      run: docker push geo-db:$TAG_NAME
